- content_for :top_bar do
  %a{ :id => "downloadLink", :href => "#{@ahn_log.log_url}", :style => "float:right" } Download Log

- content_for :content_header do
  = "Call Log from #{@call_log.start_time.strftime '%B %-d, %Y at %r'}"

- content_for :content_body do

  %canvas{ :id => 'drawingCanvas', :width => "800", :height => "800", :style => "position: absolute; z-index: 0" }
    We're sorry, but your browser does not support canvas.
  %div{:style => "clear: both"}
  :javascript
    $("#contentBody").css("overflow", "auto")
    drawChart(#{@call_log.event_array}, #{@call_log.call_array})
    $("#downloadLink").button();

