%html
  %head
    %title Adhearsion LogViz
    = stylesheet_link_tag    "/assets/stylesheets/logviz-jquery.css"
    = stylesheet_link_tag    "/assets/stylesheets/logviz.css"
    = javascript_include_tag "/assets/javascripts/jquery-1.8.2.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.9.1/jquery-ui.js"
    = javascript_include_tag "/assets/javascripts/drawing.js"
    = javascript_include_tag "/assets/javascripts/jcanvas.min.js"
    = javascript_include_tag "/assets/javascripts/flash.js"
    = csrf_meta_tags
    = yield :head

  %body
    #topBar.ui-widget-header
      %a{ :href => "/" }
        %img{ :src => "/assets/images/logo.png" }
    #flash.ui-state-error.ui-widget
      - if flash[:notice]
        :javascript
          showFlash("#{flash[:notice]}");
      - else
        :javascript
          hideFlash();
    #content.shadow
      #contentHeader.ui-widget-header.ui-widget.ui-corner-top
        = yield :content_header
      #contentBody.ui-corner-bottom{ :style => "border: 1px solid black; height: auto;" }
        = yield :content_body
    = yield