<!DOCTYPE html>
<html>
<head>
  <title>AhnLogviz</title>
  <%= stylesheet_link_tag    "stylesheets/logviz-jquery.css" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "javascripts/jquery-1.8.2.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.9.1/jquery-ui.js" %>
  <%= javascript_include_tag "javascripts/drawing.js" %>
  <%= javascript_include_tag "javascripts/jcanvas.min.js" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div id="topBar" class='ui-widget-header'><a href="/"><img src="/assets/images/logo.png"></a></div>
<div id="content" class="shadow">
  <div id='contentHeader' class='ui-widget-header ui-widget ui-corner-top'><%= yield :content_header %></div>
  <div id='contentBody' class='ui-corner-bottom' style="border: 1px solid black; height: auto;">
    <%= yield :content_body %>
  </div>
</div>
<%= yield %>

</body>
</html>
