%html
  %head
    = stylesheet_link_tag "stylesheets/logviz"
    = stylesheet_link_tag "stylesheets/logviz-jquery"
    %title Adhearsion LogViz
  %body
    #topBar.ui-widget-header
      %a{ :href => "/adhearsion_logs/index" }
        = image_tag 'images/logo.png'
      %a{ :href => "/adhearsion_logs/upload"} Upload
      = yield :top_bar
    #flash
    #content.shadow
      #contentHeader.ui-widget-header
        = yield :content_header
      #contentBody.ui-widget-content
        = yield :content_body
